<?xml version="1.0" encoding="UTF-8"?>  
<beans  
    xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
               http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">  
  

<bean id="f" class="com.cg.demo3.Fruit">
<!-- This is done instead of setters to set values directly-->
<property name="fruitNames">
<list>
<value>apple</value>
<value>mango</value>
<value>banana</value>
</list>
</property>  
</bean>  
  
</beans>  